// .item{
//     --dark-blue: #0071F9;
//     --violet-blue: #6E8FF7;
//     --light-blue: #C2CFFF;
//     --purple: #7F48E6;
//     --light-purple: #AC89EF;
//     --white:#ffffff;
//     --gray: #F9F8F9;
//     --black: #132135;
// }

.login-error{
    color: red;
}
.login-body{
    width: 100%;
    background-repeat: no-repeat;
    height: 90vh;
    background-image: url("https://impact.digitopia.co/_next/static/media/digitopiaGradLogo.cf7a25fc.svg");
    padding-top: 10rem !important;
}
.login-body .login-front .left .text-container h1{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.login-body .login-front .left .text-container h1 .span1{
    display: block;
    color:white;
}
.login-body .login-front .left .text-container h1 .span2{
    display: block;
    color:#6E8FF7;
}
.login-body .login-front .left .text-container p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color:white;
}


.login-body .login-front .left{
    padding-top: 20rem;
}


.text-container{
    width: 25rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-front{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.login-front .right{
    width: 100%;
    height: 100%;
}

.login-form{
    color:#132135;
    background: white;
    border-radius: 1rem;
    width: 26rem;
    /* height: 38rem; */
    margin: auto;
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: .5s;
}

.login-form h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

.login-form a{
    color: #0071F9;
    text-decoration: underline;
    cursor: pointer;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 300;
}

.login-form .two-item-form{
    display: flex;
    gap: 25px;
}

.login-form-input{
    display: flex;
    flex-direction: column;
}
.login-form-input input{
    height: 3rem;
    aspect-ratio: 4;
    border: none;
    background: #F9F8F9;
    border-radius: 10rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 5px;
}
.login-form-input input:focus{
    outline: 3px solid #0071F9;
}
.login-form-input.sign-up{
    display: none;
}
.login-form.sign-up .login-form-input.sign-up{
    display: flex !important;
}
.login-form-input .login-label{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: .9rem;
}
.login-form .continue-button{
    height: 3rem;
    aspect-ratio: 4;
    border-radius: 10rem;
    border:none;
    cursor: pointer;
    color:white;
    background:#0071F9;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}

.login-app{
    background: #132135;
    height: 120vh;
}
.appBar{
    padding: 25px 70px;
    width: 200px;
    height: 40px;
    display: flex;
    gap: 10px;
}


.appBar .bar::after{
    position: relative;
    content:'';
    display: block;
    /* top:-6px; */
    width: 1px;
    height: 40px;
    background-color: white;
}

.appBar h1{
    color:#F9F8F9;
    margin-top:.5rem;
}

.appBar h2{
    color:#F9F8F9;
    margin-top:.2rem;
}
